.testeg__container img{
    margin-top: 101px;
    width: 60%;
    height: auto;
}

.testeg__container a{
    background-color: #0176D3;
    border-radius: 32px;
    padding: 14px 38px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    width: 20%;
    text-align: center;
}
.testeg__container a:hover{
    background-color: #032D60;
    transition: 0.4s;
}

.testeg__container{
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 750px){
    .testeg__container a{
        background-color: #0176D3;
        border-radius: 12px;
        padding: 7px 28px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        width: 20%;
        text-align: center;
    }
    .testeg__container a:hover{
        background-color: #032D60;
        transition: 0.4s;
    }
}

@media (min-width: 751px){
    .testeg__container a{
        background-color: #0176D3;
        border-radius: 12px;
        padding: 24px 42px;
        cursor: pointer;
        font-weight: 500;
        font-size: 24px;
        width: 20%;
        text-align: center;
    }

    .testeg__container a:hover{
        background-color: #032D60;
        transition: 0.4s;
    }
}
