.imagens__container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.imagens__container > * {
    width: 100%;
    text-align: center;
}

.imagens__container img {
    max-width: 100%;}

.imagens__container p {
    font-family: "Lexend";
    font-weight: 500;
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin: 10px 0;
    word-wrap: break-word;
}

@media (max-width: 654px) {
    .imagens__container {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }
    
    .imagens__container > * {
        width: 100%;
        text-align: center;
    }
    
    .imagens__container img {
        max-width: 100%;
    }
    
    .imagens__container p {
        font-family: "Lexend";
        font-weight: 500;
        font-size: 16px;
        font-weight: 300;
        color: #777777;
        margin: 10px 0;
        word-wrap: break-word;
    }
}